@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Quicksand:wght@300;400&family=Rock+Salt&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #F1FAEE   ;
  --secondary-color: #A8DADC ;
  --tertiary-color: #1D3557;
  --accent1-color: #E63946;
  --accent4-color: #EB5C68;
  --accent2-color: #457B9D;
  --accent3-color: #E2F3F3;

  /* change the values below to your chosen font(s) */
  --heading-font: "Rock Salt";
  --paragraph-font: "Quicksand";
}

body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

header {
    background-color: var(--accent2-color);
}

#logo-link img {
    width: 80px;
    padding: 5px;
    
}

nav a {
    background-color: var(--accent2-color);
    color: var(--accent3-color);
    font-family: "Quicksand";
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: solid 1px var(--accent3-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 5px;
}

nav a:hover {
    background-color: var(--accent4-color);
    color: white;
}

.hero-img {
    width: 100%;
}

.home-title {
    font-size: 2em;
    font-family: "Rock Salt";
    margin-top: 10px;
}

#hero-msg {
    text-align: center;
    font-family: "Quicksand";
}

.book, .join {
    background-color: var(--secondary-color);
    color: black;
    display: inline-block;
    font-family: "Quicksand";
    text-decoration: none;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 1px black;
    border-radius: 15px;
}

.book:hover, .join:hover {
    background-color: var(--accent4-color);
    color: white;
}

.home-grid {
    text-align: center;
    font-family: "Architects Daughter";
}

.rivers-card {
    margin: 200px;
}

.camping-card {
    margin: 200px;
}

.rapids-card {
    margin: 200px;
}

.card {
    border: solid 3px var(--accent2-color);
    border-radius: 20px;
    box-sizing: border-box;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#background {
    height: 725px;
    background-color: var(--secondary-color);
}

.mountains {
    margin-top: 100px;
    display: block;
}

.msg {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}

.msg p {
    font-size: .8em;
    font-family: "Quicksand";
    padding-bottom: 15px;
}

footer {
    background-color: var(--secondary-color);
    color: black;
    font-family: "Quicksand";
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 200px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.social img {
    border-radius: 15px;
}